[Options]:
access_key=AWS Access key
secret_key=AWS Secret Key
target_vault_name=Glacier Vault for backups
target_bucket_name=S3 bucket for metadata
# encryption key must be 16 characters or longer
# recommend 32 characters, please backup your key!
encryption_key=PLEASECHANGEME!
